{% extends 'core/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <section class="introduction">
        <div class="introduction--content">
            <img class="mugshot introduction-child" src="{% static 'images/mugshot_2.png' %}">
            <div class="introduction-text">
                <h1>Krzysztof Kasprzyk</h1>
                <h3>Software developer, Industrial Robotics Engineer, Techie.</h3>
                <p>Contact me, and let’s make something awesome happen!</p>
            </div>
        </div>
</div>


{% endblock %}